body{
    background-color:wheat;
    user-select: none;
}
.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: #154E6F;
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item{
    background: #0C3248;
    border-radius: 5px;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
form{
    max-width: 100%;
}
input{
    width: 100%;
    height: 60px;
    background: #154E6F;
    color: white;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: center;
}
.input{
    grid-column: 1/-1;
}
.clear{
    grid-column: 1/4;

}