body{
    background-color:wheat;
    user-select: none;
}
.calc-btn{
    background-color: #154E6F;
    color: white;
    border:2px solid  #0C3248;
    width: 50px;
    height: 50px;
    font-size: 26px;
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.calc-btn:hover{
    background-color: #0C3248
}
.row{
    display: table;
    table-layout: fixed;
    width: 500px;
}
.column{
    display: table-cell;
}
#calc-clear{
    width: 104px;
}
#calc-display{
    background-color:#154E6F;
    color: white;
    height: 50px;
    text-align: right;
    padding-top: 4px;
    border:2px solid  #0C3248;
    font-size: 35px;
    overflow: hidden;
}